:root {
    --fmt-light-gray: rgb(233, 236, 239); /*#e9ecef*/
    --fmt-purple: rgb(147, 56, 188); /*#9338bc;*/
    --fmt-lighter-green: rgb(40, 167, 69); /*#28a745*/
    --fmt-light-green: rgb(54, 157, 77);
    --fmt-dark-green: rgb(42, 118, 59);
}
body {
  overflow: hidden;
  overscroll-behavior-y: none;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}
button {
    touch-action: manipulation;
}
.fmt-macro-progress {}
.fmt-macro-progress-inverse {
    background-color: #343a40;
}
.fmt-total-progress {}
.fmt-label1 {
    width: 6rem;
}
.fmt-label2 {
    width: 2rem;
}
.fmt-text-btn1 {
    font-size: 1.3rem;
}
.fmt-text-btn2 {
    font-size: 1.5rem;
}
.fmt-prog-sm {
  height: 0.5rem;
}
.fmt-table-height {}
.fmt-max-height60 {
    max-height: 65%;
    overflow-y: auto;
    overflow-x: hidden;
}
.fmt-food-id-cell {}
.fmt-food-name-cell {}
.fmt-food-brand-cell {}
.fmt-food-table-row {}
.fmt-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3000;
    overflow: hidden;
}
.fmt-add-nutri {}
.fmt-unit-igroup {}
.fmt-bg-light {
    background-color: var(--fmt-light-gray);
}
.fmt-bg-light-green {
    background-color: var(--fmt-light-green);
}
.fmt-bg-transparent {
  opacity: 0;
}
#fmt-app-nav-overlay-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#fmt-app-nav-overlay-content li {
    display: inline;
}
#fmt-app-nav-overlay-content a {
    color: black;
    text-decoration: none;
}
#fmt-app-nav-overlay-content .active {}
#fmt-app-nav-overlay-content .fmt-menu-font {
  font-size: 1.5rem;
  color: dimgray;
}
#fmt-heading {
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: -0.05rem;
  font-weight: 300;
  background-color: var(--fmt-dark-green);
  color: white;
}
.fmt-navbar-position {
  bottom: 0;
  position: fixed;
  height: 3rem;
  width: 100vw;
  transition: bottom 0.3s;
}
.fmt-tab {
    position: absolute;
    width: 100%;
    z-index: 0;
    background-color: white;
    /*100% of screen  - navbar height - factorXheading height*/
    height: calc( 100% - 3rem - 1.55 * 1.8rem );
    height: -webkit-calc( 100% - 2rem - 1.55 * 1.8rem );
    overflow-y: auto;
}
.fmt-dynamic-screen {
    position: absolute;
    width: 100%;
    background-color: white;
    height: calc( 100% - 3rem - 1.55 * 1.8rem );
    height: -webkit-calc( 100% - 4rem - 1.55 * 1.8rem );
    overflow-y: auto;
}
.fmt-mass-unit-btn {
    background-color: var(--fmt-light-gray)!important;
}
.fmt-allfather {}

.fmt-text-lg {
    font-size: 1.2rem;
    font-weight: 300;
}
.fmt-text-sm {
    font-size: 0.9rem;
    font-weight: 400;
}
.fmt-center-text {
    text-align: center;
}
.fmt-left-text {
    text-align: left;
}
.fmt-meals-container {
    overflow-y: auto;
}
.fmt-meal {
    border-style: solid;
    border-color: black;
    border-width: thin;
    border-bottom-style: none;
    background-color: black;
    border-radius: 2px;
}
.fmt-meal-carbs {}
.fmt-meal-proteins {}
.fmt-meal-fats {}
.fmt-meal-entry {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: white;
    background-color: var(--fmt-light-gray);
    transition-duration: 0.3s;
}
.fmt-meal-entry:hover {
     background-color: slategray;
    color: white;
}
.fmt-meal-footer {
    background-color: var(--fmt-light-gray);
    height: auto;
}
.fmt-meal-footer-add {}
.fmt-meal-entries {
  height: auto;
}
.fmt-meal-header {
    background-color: darkgray;
}
.fmt-progress-bar-container{}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.debug {
    border-style: solid;
    border-color: red;
}
.debug-2 {
    border-style: solid;
    border-color: blue;
}
.debug-3 {
    border-style: solid;
    border-color: darkcyan;
}
.debug-4 {
    border-style: solid;
    border-color: purple;
}
#main-screens {
    padding-left: 1rem;
    padding-right: 1rem;
}
.fmt-macros-dist-progress-bar {
    height: 1rem;
}
.fmt-font-sm {
    font-size: 1rem;
    font-weight: 300;
}
@media screen and (max-width: 768px) {
    .fmt-font-sm {
        font-size: 0.8rem;
        font-weight: 400;
    }
    .fmt-macros-dist-progress-bar {
        height: 0.8rem;
    }
}
@media screen and (max-width: 576px) {
    .fmt-font-sm {
        font-size: 0.7rem;
        font-weight: 400;
    }
    .fmt-macros-dist-progress-bar {
        height: 0.7rem;
    }
}
.fmt-font-1 {
    font-size: 1.2rem;
    font-weight: 300;
}
@media screen and (max-width: 768px) {
    .fmt-font-1 {
            font-size: 1rem;
        font-weight: 400;
    }
}
@media screen and (max-width: 576px) {
    .fmt-font-1 {
            font-size: 0.9rem;
        font-weight: 400;
    }
}
.fmt-font-2 {
    font-size: 1.5rem;
    font-weight: 300;
}
@media screen and (max-width: 768px) {
    .fmt-font-2 {
        font-size: 1.3rem;
        font-weight: 300;
    }
}
@media screen and (max-width: 576px) {
    .fmt-font-2 {
        font-size: 1.2rem;
        font-weight: 300;
    }
}
.fmt-font-3 {
    font-size: 1.8rem;
    font-weight: 300;
}
@media screen and (max-width: 768px) {
    .fmt-font-3 {
        font-size: 1.6rem;
        font-weight: 300;
    }
}
@media screen and (max-width: 576px) {
    .fmt-font-3 {
        font-size: 1.5rem;
        font-weight: 300;
    }
}
.fmt-food-input-field {
    width: 50%;
}
.fmt-profile-input-field {
    width: 50%;
}
.fmt-input-field {
    width: 50%;
}
.fmt-textarea {
    width: 100%;
    resize: both;
}
@media screen and (max-width: 768px) {
    .fmt-food-input-field {
        width: 100%;
    }
    .fmt-profile-input-field {
        width: 100%;
    }
    .fmt-input-field {
        width: 45%;
    }
}
.fmt-select {
  width: 30%!important;
  box-shadow: none!important;
  font-size: 0.6rem;
  font-weight: bold;
}
.fmt-select:focus {
  border-color: #11998e!important;
}
.fmt-select-sm {
  width: 20%!important;
  box-shadow: none!important;
  font-size: 0.6rem;
  font-weight: bold;
}
.fmt-select-sm:focus {
  border-color: #11998e!important;
}
.fmt-font-white-bold {
    color: white;
    font-weight: bold;
}
.fmt-bold {
    font-weight: bold;
}
.fmt-font-color-violet {
    color: var(--fmt-purple);
}
.fmt-font-color-warn {
    color: var(--warning);
}
.fmt-font-color-orange {
    color: var(--orange);
}
.fmt-font-color-info {
    color: var(--info);
}
.fmt-font-color-primary {
    color: var(--primary);
}
.fmt-btn-outline-success {
    color: var(--fmt-lighter-green);
    border-color: var(--fmt-lighter-green);
    background-color: var(--fmt-light-gray);
}
.fmt-btn-outline-success:hover {
    color: white!important;
    background-color: var(--fmt-lighter-green);
    border-color: var(--fmt-lighter-green);
}
.fmt-outline-success {
    color: white!important;
    background-color: var(--fmt-lighter-green);
    border-color: white;
}
.fmt-btn-outline-light {
    color: var(--light);
    border-style: none;
}
.fmt-btn-outline-light:hover {
    color: #212529;
    background-color: var(--light);
    border-style: none;
}
.fmt-btn-outline-gray {
    background-color: var(--fmt-light-gray);
    color: black;
    border-bottom-width: thin;
    border-bottom-color: white;
}
.fmt-btn-outline-gray:hover {
    color: white;
    background-color: slategray;
}
.fmt-bg-violet {
    background-color: var(--fmt-purple);
}
.fmt-bg-orange {
    background-color: var(--orange);
}
.fmt-bg-dark-green {
    background-color: var(--fmt-dark-green);
}
.fmt-border-dark-green {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: var(--fmt-dark-green);
}
.fmt-btn-success {
    color: white;
    background-color: var(--fmt-light-green);
    border-color: var(--fmt-light-green);
}
.fmt-btn-success:hover {
    color: white!important;
    background-color: var(--fmt-light-green);
    border-color: #fff;
}
.fmt-loading-screen-font {
    font-size: 4.5rem;
    color: var(--fmt-dark-green);;
    letter-spacing: -0.2rem;
}
.fmt-loading-screen-font-responsive {
    font-size: 4.5rem;
    color: var(--fmt-dark-green);;
    letter-spacing: -0.2rem;
}
@media screen and (max-width: 576px) {
    .fmt-loading-screen-font-responsive {
        font-size: 3.2rem;
    }
}
.fmt-loading-screen-font-responsive-sm-1 {
    font-size: 3.5rem;
    color: white;
    letter-spacing: -0.2rem;
}
@media screen and (max-width: 576px) {
    .fmt-loading-screen-font-responsive-sm-1 {
        font-size: 2.5rem;
    }
}
.fmt-border-white {
    border-style: solid;
    border-color: white;
    border-radius: 1rem;
}
#fmt-app-first-time-overlay-msg {
    font-style: oblique;
    text-decoration: underline white;
}
.fmt-loading-screen-logo {
    width: 5rem;
    height: 5rem;
    border: solid;
    border-color: white;
    display:inline-block;
    color:white;
    border-radius: 2rem;
}
.fmt-loading-screen-position {
    position:absolute;
    top: calc( 50% - 2 * 1.5 * 4.5rem / 2 ); /* 2 rows of text 4.5 rem font size 1.5 line height*/
    left: calc(50% - 13 * 1.05rem);
    right: calc(50% - 13 * 1.05rem);
}
@keyframes fmt-fadein-keyframe {
    from {opacity: 0;}
    to   {opacity: 100%;}
}
@keyframes fmt-fadeout-keyframe {
    from {opacity: 100%;}
    to   {opacity: 0;}
}
@keyframes fmt-fadeinout-keyframe {
    from {opacity: 0%;}
    50%  {opacity: 100%}
    to   {opacity: 0%;}
}
.fmt-fadein {
    animation: fmt-fadein-keyframe 1.1s;
}
.fmt-fadeout {
    animation: fmt-fadeout-keyframe 1s;
}
.fmt-fadeinout {
    animation: fmt-fadeinout-keyframe 3s;
}
.fmt-faded {
    opacity: 0;
}
.fmt-btn-no-focus {}
.fmt-btn-no-focus:focus {
  box-shadow: none;
}
/*Table Colors*/
/*.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgb(54, 157, 77);
 }
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: rgb(36, 157, 63);
 }*/
.fmt-w-inherit {
  width: inherit;
}
.fmt-w-20 {
  width: 20%;
}
.fmt-w-45 {
  width: 45%;
}
.fmt-w-67 {
  width: 67%;
}
.fmt-tab-ul {
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: #11998e;
  display: flex;
  padding: 0;
}
.fmt-tab-ul li {
  width: 100%;
  cursor: pointer;
}
.fmt-tab-li-left {
  border-width: 1px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-right-style: solid;
  border-right-color: #11998e;
}
.fmt-tab-li-right {
  border-width: 1px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-left-style: none;
}
.fmt-tab-li-active {
  background-color: #11998e;
  color: white;
}
.fmt-tab-ul li:hover {
  background-color: #11998e;
  color: white;
  transition: background 0.15s;
}
.fmt-search-bar:focus {
  box-shadow: none;
  border-color: #ced4da;
}
.fmt-search-bar::placeholder {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}
.fmt-recipe-step-cont {}
.fmt-recipe-ingredient-cont {}
.fmt-recipe-ingredient {
  width: 70%;
}
.fmt-label-sm {
  font-size: 0.7rem!important;
  font-weight: bold;
}
.form__group {
   position: relative;
   padding: 0.7rem 0 0;
   margin-top: 0.25rem;
   width: 70%;
}
.form__field {
   font-family: inherit;
   border: 0;
   border-bottom: 1px solid #9b9b9b;
   outline: 0;
   font-size: 0.9rem;
   padding: 0.3rem 0;
   background: transparent;
   transition: border-color 0.2s;
}
.form__group textarea {
  font-size: 1rem;
}
.form__field::placeholder {
   color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
   font-size: 1rem;
   cursor: text;
   top: 20px;
}

.form__label {
   position: absolute;
   top: 0;
   display: block;
   transition: 0.2s;
   font-size: 0.8rem;
   color: #9b9b9b;
}

.form__field:focus {
   padding-bottom: 0.3rem;
   /* font-weight: 700; */
   border-width: 1px;
   -webkit-border-image: linear-gradient(to right, #11998e, #38ef7d);
   -webkit-border-image-slice: 1;
   border-image: linear-gradient(to right, #11998e, #38ef7d);
   border-image-slice: 1;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   transition: border 0.2s;
}
.form__field:focus ~ .form__label {
   position: absolute;
   top: 0;
   display: block;
   transition: 0.2s;
   font-size: 0.8rem;
   color: #11998e;
   font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}
.fmt-form-btn {
  width: 70%;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (max-width: 768px) {
   .form__group {
       width: 100%;
   }
   .fmt-form-btn {
     width: 100%;
   }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.fmt-select-noexpand {
  -webkit-appearance:none;
  -moz-appearance:none;
  -o-appearance:none;
   appearance:none;
   pointer-events: none;
   margin-bottom: 0.5rem;
}
.fmt-select-noexpand::-ms-expand {
  display: none;
}
