body {
    margin-bottom: 2rem;
}
button {
    touch-action: manipulation;
}
.fmt-macro-progress {
    width : 0.3rem;
}
.fmt-total-progress {
    width : 27rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.fmt-label1 {
    width: 6rem;
}
.fmt-label2 {
    width: 2rem;
}
.fmt-text-btn1 {
    font-size: 1.3rem;
}
.fmt-text-btn2 {
    font-size: 1.5rem;
}
.fmt-table-height {
    height: 50vh;
    overflow-y: auto;
}
.fmt-max-height60 {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.fmt-food-id-cell {}
.fmt-food-name-cell {}
.fmt-food-brand-cell {}
.fmt-food-table-row {}
.fmt-dynamic-screen {
    border-style: dashed;
    border-color: darkgoldenrod;
}
.fmt-add-nutri {}
.fmt-mass-unit-igroup {}
.fmt-mass-unit-btn {
    background-color: rgb(233, 236, 239)!important;
}
.fmt-allfather {
    margin: 2rem;
    border-style: solid;
    border-color: red;
}
.fmt-tab {
    border-style: dotted;
    border-color: aqua;
}
.center-text {text-align: center}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.debug {
    border-style: solid;
    border-color: red;
}
.debug-2 {
    border-style: solid;
    border-color: blue;
}
.debug-3 {
    border-style: solid;
    border-color: darkcyan;
}
.debug-4 {
    border-style: solid;
    border-color: purple;
}