body {
    margin-bottom: 2rem;
}

.fmt-macro-progress {
    width : 10rem;
}

.fmt-total-progress {
    width : 30rem;
}

.fmt-label1 {
    width: 6rem;
}
.fmt-label2 {
    width: 2rem;
}

.center-text {text-align: center}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.debug {
    border-style: solid;
    border-color: red;
}
.debug-2 {
    border-style: solid;
    border-color: blue;
}
.debug-3 {
    border-style: solid;
    border-color: darkcyan;
}
.debug-4 {
    border-style: solid;
    border-color: purple;
}